<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949364282512-5c3b749gsnn43232dgqapd30m4222ec8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949364282512-5c3b749gsnn43232dgqapd30m4222ec8</string>
	<key>API_KEY</key>
	<string>AIzaSyCX_53Tda9joYYT3JrvCm3GbUldWZYb_HM</string>
	<key>GCM_SENDER_ID</key>
	<string>949364282512</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicRoster</string>
	<key>PROJECT_ID</key>
	<string>music-team-roster</string>
	<key>STORAGE_BUCKET</key>
	<string>music-team-roster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949364282512:ios:056c92bd00c69bc51d3415</string>
</dict>
</plist>